/* =========================
   CONTACT
========================= */

.contact {
    text-align: center;
}

.contact-cards {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contact-card {
    width: 170px;
    height: 230px;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(56, 189, 248, 0.25);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-8px);
}

.contact-icon {
    width: 58px;
    height: 58px;
    margin-bottom: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 135deg, #38bdf8, #0ea5e9);
}

.contact-svg {
    width: 24px;
    height: 24px;
}

.contact-card a {
    padding: 10px 16px;
    border-radius: 25px;
    background: #38bdf8;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    margin-top: 14px;
}


/* =========================
   CONTACT FORM
========================= */

.contact-form {
    max-width: 700px;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 18px 20px;
    border: none;
    outline: none;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(56, 189, 248, 0.15);
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form button {
    padding: 16px;
    border: none;
    border-radius: 18px;
    background: linear-gradient( 135deg, #38bdf8, #0ea5e9);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}